# top-most EditorConfig file
root = true


# default: utf-8, no trailing whitespaces, final newline
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


# scala-style: 2 spaces
[*.{sbt,scala,yml,conf}]
indent_style = space
indent_size = 2


# java-style: 4 spaces
[*.{xml,java,casm,coreasm,pass,sh,bat,cmd}]
indent_style = space
indent_size = 4


# allow trailing whitespaces on files written by tools
[*Vocabulary.java]
trim_trailing_whitespace = false


# Windows-style newlines, even on Unix
[*.{bat,cmd}]
end_of_line = crlf


# Unix-style newlines, even on Windows
[*.sh]
end_of_line = lf
