<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %highlight(%-5level) [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d PASSInterpreterConsole [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

    <logger name="akka" level="warn">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="de.athalis.pass" level="warn">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>
